<settings>
  <rc_settings/>
  <dl_settings>
    <dl_settings name="Telemetry">
      <dl_setting min="0" step="1" max="11" var="telemetry_mode_Main" shortname="Main" values="default|ppm|raw_sensors|scaled_sensors|ahrs|rate_loop|attitude_setpoint_viz|attitude_loop|vert_loop|h_loop|aligner|tune_hover" module="generated/periodic_telemetry">
        <key_press key="d" value="0"/>
        <key_press key="v" value="6"/>
        <key_press key="a" value="7"/>
        <key_press key="v" value="8"/>
        <key_press key="h" value="9"/>
      </dl_setting>
    </dl_settings>
    <dl_settings name="System">
      <dl_setting var="autopilot_mode_auto2" values="KILL|Fail|HOME|Rate|Att|Rate_rcC|Att_rcC|Att_C|Rate_Z|Att_Z|Hover|Hover_C|Hover_Z|Nav|RC_D|CareFree|Forward|Module|Flip|Guided" step="1" shortname="auto2" module="autopilot" min="0" max="19"/>
      <dl_setting var="kill_throttle" values="Resurrect|Kill" step="1" module="autopilot" min="0" max="1" handler="KillThrottle"/>
      <dl_setting var="autopilot_power_switch" values="OFF|ON" step="1" module="autopilot" min="0" max="1" handler="SetPowerSwitch">
        <strip_button value="1" name="POWER ON" icon="on.png" group="power_switch"/>
        <strip_button value="0" name="POWER OFF" icon="off.png" group="power_switch"/>
      </dl_setting>
      <dl_setting var="autopilot_mode" values="KILL|Fail|HOME" step="1" shortname="mode" module="autopilot" min="0" max="2" handler="set_mode"/>
    </dl_settings>
    <dl_settings name="Vert Loop">
      <dl_setting var="guidance_v_kp" step="1" shortname="kp" persistent="true" param="GUIDANCE_V_HOVER_KP" module="guidance/guidance_v" min="0" max="600"/>
      <dl_setting var="guidance_v_kd" step="1" shortname="kd" persistent="true" param="GUIDANCE_V_HOVER_KD" module="guidance/guidance_v" min="0" max="600"/>
      <dl_setting var="guidance_v_ki" step="1" shortname="ki" persistent="true" param="GUIDANCE_V_HOVER_KI" module="guidance/guidance_v" min="0" max="300" handler="SetKi"/>
      <dl_setting var="guidance_v_nominal_throttle" step="0.01" shortname="nominal_throttle" persistent="true" param="GUIDANCE_V_NOMINAL_HOVER_THROTTLE" module="guidance/guidance_v" min="0.2" max="0.8"/>
      <dl_setting var="guidance_v_adapt_throttle_enabled" values="FALSE|TRUE" step="1" shortname="adapt_throttle" persistent="true" param="GUIDANCE_V_ADAPT_THROTTLE_ENABLED" module="guidance/guidance_v" min="0" max="1"/>
      <dl_setting var="guidance_v_z_sp" unit="2e-8m" step="0.5" shortname="sp" module="guidance/guidance_v" min="-5" max="3" alt_unit_coef="0.00390625" alt_unit="m"/>
    </dl_settings>
    <dl_settings name="Horiz Loop">
      <dl_setting var="guidance_h.use_ref" values="FALSE|TRUE" step="1" shortname="use_ref" persistent="true" param="GUIDANCE_H_USE_REF" module="guidance/guidance_h" min="0" max="1" handler="SetUseRef"/>
      <dl_setting var="gh_ref.max_speed" type="float" step="0.1" shortname="max_speed" persistent="true" param="GUIDANCE_H_REF_MAX_SPEED" module="guidance/guidance_h" min="0.1" max="15.0" handler="SetMaxSpeed"/>
      <dl_setting var="guidance_h.approx_force_by_thrust" values="FALSE|TRUE" type="uint8" step="1" shortname="approx_force" persistent="true" param="GUIDANCE_H_APPROX_FORCE_BY_THRUST" module="guidance/guidance_h" min="0" max="1"/>
      <dl_setting var="gh_ref.tau" type="float" step="0.1" shortname="tau" persistent="true" param="GUIDANCE_H_REF_TAU" module="guidance/guidance_h" min="0.1" max="1.0" handler="SetTau"/>
      <dl_setting var="gh_ref.omega" type="float" step="0.1" shortname="omega" persistent="true" param="GUIDANCE_H_REF_OMEGA" module="guidance/guidance_h" min="0.1" max="3.0" handler="SetOmega"/>
      <dl_setting var="gh_ref.zeta" type="float" step="0.05" shortname="zeta" persistent="true" param="GUIDANCE_H_REF_ZETA" module="guidance/guidance_h" min="0.7" max="1.0" handler="SetZeta"/>
      <dl_setting var="guidance_h.gains.p" type="int32" step="1" shortname="kp" persistent="true" param="GUIDANCE_H_PGAIN" module="guidance/guidance_h" min="0" max="400"/>
      <dl_setting var="guidance_h.gains.d" type="int32" step="1" shortname="kd" persistent="true" param="GUIDANCE_H_DGAIN" module="guidance/guidance_h" min="0" max="400"/>
      <dl_setting var="guidance_h.gains.i" type="int32" step="1" shortname="ki" persistent="true" param="GUIDANCE_H_IGAIN" module="guidance/guidance_h" min="0" max="400" handler="set_igain"/>
      <dl_setting var="guidance_h.gains.v" type="int32" step="1" shortname="kv" persistent="true" param="GUIDANCE_H_VGAIN" module="guidance/guidance_h" min="0" max="400"/>
      <dl_setting var="guidance_h.gains.a" type="int32" step="1" shortname="ka" persistent="true" param="GUIDANCE_H_AGAIN" module="guidance/guidance_h" min="0" max="400"/>
      <dl_setting var="guidance_h.sp.pos.x" unit="1/2^8m" step="1" shortname="sp_x_ned" module="guidance/guidance_h" min="-10" max="10" alt_unit_coef="0.00390625" alt_unit="m"/>
      <dl_setting var="guidance_h.sp.pos.y" unit="1/2^8m" step="1" shortname="sp_y_ned" module="guidance/guidance_h" min="-10" max="10" alt_unit_coef="0.00390625" alt_unit="m"/>
    </dl_settings>
    <dl_settings name="NAV">
      <dl_setting var="flight_altitude" unit="m" step="0.1" module="navigation" min="0" max="400" handler="SetFlightAltitude"/>
      <dl_setting var="nav_heading" unit="1/2^12r" step="1" module="navigation" min="0" max="360" alt_unit_coef="0.0139882" alt_unit="deg"/>
      <dl_setting var="nav_radius" unit="m" step="0.1" module="navigation" min="-50" max="50"/>
      <dl_setting var="nav_climb_vspeed" unit="m/s" step="0.1" param="NAV_CLIMB_VSPEED" module="navigation" min="0" max="10.0"/>
      <dl_setting var="nav_descend_vspeed" unit="m/s" step="0.1" param="NAV_DESCEND_VSPEED" module="navigation" min="-10.0" max="0.0"/>
    </dl_settings>
    <dl_settings name="Rate Loop">
      <dl_setting var="stabilization_rate_gain.p" type="int32" step="1" shortname="pgain p" persistent="true" param="STABILIZATION_RATE_GAIN_P" module="stabilization/stabilization_rate" min="1" max="1000"/>
      <dl_setting var="stabilization_rate_gain.q" type="int32" step="1" shortname="pgain q" persistent="true" param="STABILIZATION_RATE_GAIN_Q" module="stabilization/stabilization_rate" min="1" max="1000"/>
      <dl_setting var="stabilization_rate_gain.r" type="int32" step="1" shortname="pgain r" persistent="true" param="STABILIZATION_RATE_GAIN_R" module="stabilization/stabilization_rate" min="1" max="1000"/>
      <dl_setting var="stabilization_rate_igain.p" type="int32" step="1" shortname="igain p" persistent="true" param="STABILIZATION_RATE_IGAIN_P" module="stabilization/stabilization_rate" min="0" max="500"/>
      <dl_setting var="stabilization_rate_igain.q" type="int32" step="1" shortname="igain q" persistent="true" param="STABILIZATION_RATE_IGAIN_Q" module="stabilization/stabilization_rate" min="0" max="500"/>
      <dl_setting var="stabilization_rate_igain.r" type="int32" step="1" shortname="igain r" persistent="true" param="STABILIZATION_RATE_IGAIN_R" module="stabilization/stabilization_rate" min="0" max="500"/>
    </dl_settings>
    <dl_settings name="Att Loop">
      <dl_setting var="stabilization_gains.p.x" type="int32" step="1" shortname="pgain phi" persistent="true" param="STABILIZATION_ATTITUDE_PHI_PGAIN" module="stabilization/stabilization_attitude_common_int" min="1" max="8000"/>
      <dl_setting var="stabilization_gains.d.x" type="int32" step="1" shortname="dgain p" persistent="true" param="STABILIZATION_ATTITUDE_PHI_DGAIN" module="stabilization/stabilization_attitude_common_int" min="1" max="4000"/>
      <dl_setting var="stabilization_gains.i.x" type="int32" step="1" shortname="igain phi" persistent="true" param="STABILIZATION_ATTITUDE_PHI_IGAIN" module="stabilization/stabilization_attitude_common_int" min="0" max="800"/>
      <dl_setting var="stabilization_gains.dd.x" type="int32" step="1" shortname="ddgain p" persistent="true" param="STABILIZATION_ATTITUDE_PHI_DDGAIN" module="stabilization/stabilization_attitude_common_int" min="0" max="1000"/>
      <dl_setting var="stabilization_gains.p.y" type="int32" step="1" shortname="pgain theta" persistent="true" param="STABILIZATION_ATTITUDE_THETA_PGAIN" module="stabilization/stabilization_attitude_common_int" min="1" max="8000"/>
      <dl_setting var="stabilization_gains.d.y" type="int32" step="1" shortname="dgain q" persistent="true" param="STABILIZATION_ATTITUDE_THETA_DGAIN" module="stabilization/stabilization_attitude_common_int" min="1" max="4000"/>
      <dl_setting var="stabilization_gains.i.y" type="int32" step="1" shortname="igain theta" persistent="true" param="STABILIZATION_ATTITUDE_THETA_IGAIN" module="stabilization/stabilization_attitude_common_int" min="0" max="800"/>
      <dl_setting var="stabilization_gains.dd.y" type="int32" step="1" shortname="ddgain q" persistent="true" param="STABILIZATION_ATTITUDE_THETA_DDGAIN" module="stabilization/stabilization_attitude_common_int" min="0" max="1000"/>
      <dl_setting var="stabilization_gains.p.z" type="int32" step="1" shortname="pgain psi" persistent="true" param="STABILIZATION_ATTITUDE_PSI_PGAIN" module="stabilization/stabilization_attitude_common_int" min="1" max="4000"/>
      <dl_setting var="stabilization_gains.d.z" type="int32" step="1" shortname="dgain r" persistent="true" param="STABILIZATION_ATTITUDE_PSI_DGAIN" module="stabilization/stabilization_attitude_common_int" min="1" max="4000"/>
      <dl_setting var="stabilization_gains.i.z" type="int32" step="1" shortname="igain psi" persistent="true" param="STABILIZATION_ATTITUDE_PSI_IGAIN" module="stabilization/stabilization_attitude_common_int" min="0" max="400"/>
      <dl_setting var="stabilization_gains.dd.z" type="int32" step="1" shortname="ddgain r" persistent="true" param="STABILIZATION_ATTITUDE_PSI_DDGAIN" module="stabilization/stabilization_attitude_common_int" min="0" max="1000"/>
      <dl_setting var="att_ref_quat_i.model.omega.p" unit="rad/s" step="1" shortname="omega p" param="STABILIZATION_ATTITUDE_REF_OMEGA_P" module="stabilization/stabilization_attitude_quat_int" min="1" max="1000" handler="SetOmegaP" alt_unit="deg/s"/>
      <dl_setting var="att_ref_quat_i.model.zeta.p" step="0.05" shortname="zeta p" param="STABILIZATION_ATTITUDE_REF_ZETA_P" module="stabilization/stabilization_attitude_quat_int" min="0.5" max="1.2" handler="SetZetaP"/>
      <dl_setting var="att_ref_quat_i.model.omega.q" unit="rad/s" step="1" shortname="omega q" param="STABILIZATION_ATTITUDE_REF_OMEGA_Q" module="stabilization/stabilization_attitude_quat_int" min="1" max="1000" handler="SetOmegaQ" alt_unit="deg/s"/>
      <dl_setting var="att_ref_quat_i.model.zeta.q" step="0.05" shortname="zeta q" param="STABILIZATION_ATTITUDE_REF_ZETA_Q" module="stabilization/stabilization_attitude_quat_int" min="0.5" max="1.2" handler="SetZetaQ"/>
      <dl_setting var="att_ref_quat_i.model.omega.r" unit="rad/s" step="1" shortname="omega r" param="STABILIZATION_ATTITUDE_REF_OMEGA_R" module="stabilization/stabilization_attitude_quat_int" min="1" max="1000" handler="SetOmegaR" alt_unit="deg/s"/>
      <dl_setting var="att_ref_quat_i.model.zeta.r" step="0.05" shortname="zeta r" param="STABILIZATION_ATTITUDE_REF_ZETA_R" module="stabilization/stabilization_attitude_quat_int" min="0.5" max="1.2" handler="SetZetaR"/>
    </dl_settings>
    <dl_settings name="AHRS">
      <dl_setting var="ahrs_icq.gravity_heuristic_factor" type="uint8" step="1" shortname="g_heuristic" persistent="true" param="AHRS_GRAVITY_HEURISTIC_FACTOR" module="subsystems/ahrs/ahrs_int_cmpl_quat" min="0" max="50"/>
      <dl_setting var="ahrs_icq.accel_omega" unit="rad/s" type="float" step="0.02" shortname="acc_omega" persistent="true" param="AHRS_ACCEL_OMEGA" module="subsystems/ahrs/ahrs_int_cmpl_quat" min="0.02" max="0.2" handler="SetAccelOmega"/>
      <dl_setting var="ahrs_icq.accel_zeta" type="float" step="0.05" shortname="acc_zeta" persistent="true" param="AHRS_ACCEL_ZETA" module="subsystems/ahrs/ahrs_int_cmpl_quat" min="0.7" max="1.5" handler="SetAccelZeta"/>
      <dl_setting var="ahrs_icq.mag_omega" unit="rad/s" type="float" step="0.01" shortname="mag_omega" persistent="true" param="AHRS_MAG_OMEGA" module="subsystems/ahrs/ahrs_int_cmpl_quat" min="0.02" max="0.1" handler="SetMagOmega"/>
      <dl_setting var="ahrs_icq.mag_zeta" type="float" step="0.05" shortname="mag_zeta" persistent="true" param="AHRS_MAG_ZETA" module="subsystems/ahrs/ahrs_int_cmpl_quat" min="0.7" max="1.5" handler="SetMagZeta"/>
    </dl_settings>
    <dl_settings name="body2imu">
      <dl_setting var="imu.body_to_imu.eulers_f.phi" unit="rad" type="float" step="0.5" shortname="b2i phi" persistent="true" param="IMU_BODY_TO_IMU_PHI" module="subsystems/imu" min="-90" max="90" handler="SetBodyToImuPhi" alt_unit="deg"/>
      <dl_setting var="imu.body_to_imu.eulers_f.theta" unit="rad" type="float" step="0.5" shortname="b2i theta" persistent="true" param="IMU_BODY_TO_IMU_THETA" module="subsystems/imu" min="-90" max="90" handler="SetBodyToImuTheta" alt_unit="deg"/>
      <dl_setting var="imu.body_to_imu.eulers_f.psi" unit="rad" type="float" step="0.5" shortname="b2i psi" persistent="true" param="IMU_BODY_TO_IMU_PSI" module="subsystems/imu" min="-180" max="180" handler="SetBodyToImuPsi" alt_unit="deg"/>
      <dl_setting var="imu.b2i_set_current" values="FALSE|TRUE" step="1" shortname="b2i cur roll/pitch" module="subsystems/imu" min="0" max="1" handler="SetBodyToImuCurrent"/>
    </dl_settings>
    <dl_settings name="Sim">
      <dl_setting var="nps_bypass_ahrs" values="No|Yes" step="1" shortname="bypass_ahrs" module="nps/nps_autopilot" min="0" max="1"/>
      <dl_setting var="nps_bypass_ins" values="No|Yes" step="1" shortname="bypass_ins" module="nps/nps_autopilot" min="0" max="1"/>
      <dl_setting var="gps_has_fix" values="No|Yes" step="1" shortname="gps_fix" module="subsystems/gps/gps_sim_nps" min="0" max="1"/>
      <dl_setting var="datalink_enabled" values="OFF|ON" step="1" shortname="datalink" module="subsystems/datalink/datalink" min="0" max="1"/>
      <dl_setting var="nps_electrical.supply_voltage" unit="V" step="0.1" shortname="bat_voltage" module="nps/nps_electrical" min="0" max="24"/>
      <dl_setting var="nps_atmosphere.wind_speed" unit="m/s" step="0.1" shortname="wind_speed" module="nps/nps_atmosphere" min="0" max="25" handler="set_wind_speed"/>
      <dl_setting var="nps_atmosphere.wind_dir" unit="rad" step="1" shortname="wind_dir" module="nps/nps_atmosphere" min="0" max="360" handler="set_wind_dir" alt_unit="deg"/>
      <dl_setting var="nps_atmosphere.turbulence_severity" step="1" shortname="turbulence" module="nps/nps_atmosphere" min="0" max="7"/>
    </dl_settings>
    <dl_settings name="air_data">
      <dl_setting var="air_data.qnh" step="1" shortname="QNH" module="air_data/air_data" min="800" max="1200"/>
      <dl_setting var="air_data.tas_factor" type="float" step="0.01" shortname="TASfactor" persistent="true" param="AIR_DATA_TAS_FACTOR" module="air_data/air_data" min="0.8" max="1.3"/>
      <dl_setting var="air_data.calc_qnh_once" step="1" shortname="calcQNH" module="air_data/air_data" min="0" max="1"/>
      <dl_setting var="air_data.calc_airspeed" type="uint8" step="1" shortname="calcAirspeed" persistent="true" param="AIR_DATA_CALC_AIRSPEED" module="air_data/air_data" min="0" max="1"/>
      <dl_setting var="air_data.calc_tas_factor" type="uint8" step="1" shortname="calcTASfactor" persistent="true" param="AIR_DATA_CALC_TAS_FACTOR" module="air_data/air_data" min="0" max="1"/>
      <dl_setting var="air_data.calc_amsl_baro" type="uint8" step="1" shortname="calcAMSL" persistent="true" param="AIR_DATA_CALC_AMSL_BARO" module="air_data/air_data" min="0" max="1"/>
    </dl_settings>
    <dl_settings name="geo_mag">
      <dl_setting var="geo_mag.calc_once" values="OFF|CALC" step="1" shortname="calcNow" module="geo_mag/geo_mag" min="0" max="1"/>
    </dl_settings>
    <dl_settings name="Modules">
      <dl_setting min="2" max="3" step="1" var="calibration_send_imu_mag_current_status" shortname="send_imu_mag_current" values="START|STOP"/>
    </dl_settings>
  </dl_settings>
</settings>
